<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
          <p>
          </p>
        <ul>
            <li class="buttons"><a class="buttons" href="/">Main</a></li>
            <li class="buttons"><a class="buttons" href="/meg">Meg</a></li>
            <li class="buttons"><a class="buttons" href="">Bar</a></li>
        </ul>

      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small><i>Paid for by the Student Safety First Committee</i></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>